<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>nnMHLPQ1xS3iTD3Fxu2zLTeQPD3t47Dq</string>
	<key>Domain</key>
	<string>dev-pm0v00o6oaewk7y6.us.auth0.com</string>
	<key>CallbackMode</key>
	<string>custom-scheme</string>
</dict>
</plist>
